Repository Louranicas/claude-optimized-deployment, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yourusername, @claude-code-bot, @doc-team, @ai-team, @python-experts, @qa-team, @rust-experts, @devops-team, @security-team, @frontend-team, @api-team, @database-team

.github/CODEOWNERS:

# Code Owners for Claude-Optimized Deployment Engine
# These owners will be automatically requested for review

# Global owners
* @yourusername @claude-code-bot

# Documentation
*.md @yourusername @doc-team
/docs/ @yourusername @doc-team
README.md @yourusername

# Circle of Experts (Working Feature)
/src/circle_of_experts/ @yourusername @ai-team
/tests/circle_of_experts/ @yourusername @ai-team
/examples/*circle_of_experts* @yourusername @ai-team

# Python code
*.py @python-experts
/src/ @python-experts @yourusername
/tests/ @python-experts @qa-team

# Rust code
*.rs @rust-experts
/rust_core/ @rust-experts @yourusername
Cargo.toml @rust-experts

# DevOps and Infrastructure
/k8s/ @devops-team
/terraform/ @devops-team @security-team
/helm/ @devops-team
Dockerfile @devops-team
docker-compose*.yml @devops-team
Makefile @devops-team

# CI/CD
/.github/workflows/ @devops-team @yourusername
/.github/actions/ @devops-team

# Security-sensitive files
*secret* @security-team
*auth* @security-team
*crypt* @security-team
.env* @security-team @yourusername

# Dependencies
requirements*.txt @python-experts @security-team
Cargo.lock @rust-experts @security-team
package*.json @frontend-team @security-team

# API definitions
*openapi* @api-team
*swagger* @api-team
/src/api/ @api-team @yourusername

# Database
*migration* @database-team
/alembic/ @database-team
*schema* @database-team

# Frontend (future)
/frontend/ @frontend-team
*.jsx @frontend-team
*.tsx @frontend-team

# Configuration files
*.yml @yourusername
*.yaml @yourusername
*.toml @yourusername
*.json @yourusername

# Special files that need careful review
.gitignore @yourusername
.env.example @yourusername @security-team
LICENSE @yourusername

docs: Update README with correct GitHub username and repository URL
  README.md
Owners: @yourusername

docs: Add GitHub setup next steps guide
  .claude/settings.local.json
  .gitignore
  GITHUB_SETUP_NEXT_STEPS.md
  GIT_PUSH_INSTRUCTIONS.md
  add_git_services.sh
  configure_git_remotes.sh
  push_all_configured.sh
  push_all_parallel.sh
  push_to_all_services.sh
  setup_all_git_services.sh
  setup_git_remotes.sh
  setup_github_auth.sh
  target/.rustc_info.json
Owners: @yourusername, @doc-team, @claude-code-bot, @security-team

feat: Add GitHub Actions CI/CD and templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/security.yml
Owners: @yourusername, @doc-team

docs: Add LICENSE and SECURITY.md
  LICENSE
  SECURITY.md
Owners: @yourusername, @doc-team

chore: Add Dependabot config and environment example
  .env.example
  .github/dependabot.yml
Owners: @yourusername, @security-team

docs: Add comprehensive project roadmap and immediate action plan
  CODE_PROJECT_ROADMAP_2025.md
  IMMEDIATE_ACTION_PLAN.md
Owners: @yourusername, @doc-team
